<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.web.seckill.mapper.WebSeckillMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="WebSeckillEntity" id="webSeckillMap">
        <result property="id" column="id"/>
        <result property="productid" column="productId"/>
        <result property="num" column="num"/>
        <result property="seckillprice" column="seckillPrice"/>
        <result property="starttime" column="startTime"/>
        <result property="endtime" column="endTime"/>
        <result property="status" column="status"/>
        <result property="href" column="href"/>
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_WebSeckillColumns_List" > 
  	  id ,        
   productId  ,        
  num ,        
   seckillPrice  ,        
   startTime  ,        
   endTime  ,        
  status ,        
  href         
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_WebSeckillColumns_List" >
       #{id},   #{productid},   #{num},   #{seckillprice},   #{starttime},   #{endtime},   #{status},   #{href}   </sql> 
  
  <!--要修改的字段-->
  <sql id="upd_WebSeckillColumns_List" >
    <set>
    <if test="productid != null">productId = #{productid}, </if>
    <if test="num != null">num = #{num}, </if>
    <if test="seckillprice != null">seckillPrice = #{seckillprice}, </if>
    <if test="starttime != null">startTime = #{starttime}, </if>
    <if test="endtime != null">endTime = #{endtime}, </if>
    <if test="status != null and status !=''">status = #{status}, </if>
    <if test="href != null and href !=''">href = #{href}</if>
	</set>
	where id = #{id}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_WebSeckillParams_List">
    <where>
    <if test="id != null and id !=0">and id = #{id}</if>
    <if test="productid != null">and productId = #{productid}</if>
    <if test="num != null">and num = #{num}</if>
    <if test="seckillprice != null">and seckillPrice = #{seckillprice}</if>
    <if test="starttime != null">and startTime = #{starttime}</if>
    <if test="endtime != null">and endTime = #{endtime}</if>
    <if test="status != null and status !=''">and status = #{status}</if>
    <if test="href != null and href !=''">and href = #{href}</if>
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_WebSeckillParams_List">
    <where>
    <if test="id != null and id !=0">and id = #{id}</if>
    <if test="productid != null">and productId = #{productid}</if>
    <if test="num != null">and num = #{num}</if>
    <if test="seckillprice != null">and seckillPrice = #{seckillprice}</if>
    <if test="starttime != null">and startTime = #{starttime}</if>
    <if test="endtime != null">and endTime = #{endtime}</if>
    <if test="status != null and status !=''">and status = #{status}</if>
    <if test="href != null and href !=''">and href = #{href}</if>
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into web_seckill values (<include refid="ins_WebSeckillColumns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update web_seckill <include refid="upd_WebSeckillColumns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from web_seckill <include refid="del_WebSeckillParams_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from web_seckill where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill where id = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByParams" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill <include refid="sel_WebSeckillParams_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByParams" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill <include refid="sel_WebSeckillParams_List" /> order by id desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryByParams" resultMap="webSeckillMap">
        select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill <include refid="sel_WebSeckillParams_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByParmas" resultType="java.lang.Long">
		select count(*) from web_seckill <include refid="sel_WebSeckillParams_List" />
	</select>

    <update id="updateByParams" parameterType="WebSeckillEntity">
        UPDATE web_seckill <include refid="upd_WebSeckillColumns_List"/>
    </update>

    <select id="queryProductDetails" parameterType="String" resultType="Map">
        SELECT p.*,s.seckillPrice,s.startTime,s.endTime FROM web_product_detail p LEFT JOIN web_seckill s ON p.id=s.productId WHERE s.`status`="1"
    </select>


</mapper>